<!DOCTYPE html>
<#import "spring.ftl" as spring/>
<head>
    <meta charset="UTF-8">
    <title><@spring.message 'addItem.page.title'/></title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<h1><@spring.message 'addItem.page.header'/></h1>
<h2><@spring.message 'addItem.page.description'/></h2>
<form action="/addItem" method="post">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <@spring.bind path="addItemForm"/>
    <p class="error">${spring.status.errorMessage}</p>
    <label for="name"><@spring.message 'addItem.form.label.enterName'/></label>
    <#assign i18Tooltip><@spring.message code="addItem.form.placeholder.Name"/></#assign>
    <@spring.formInput "addItemForm.name" "placeholder=${i18Tooltip}"/>
    <@spring.showErrors "<br>" "error"/>
    <br>
    <br>
    <label for="description"><@spring.message 'addItem.form.label.enterDescription'/></label>
    <#assign i18Tooltip><@spring.message code="addItem.form.placeholder.Description"/></#assign>
    <@spring.formInput "addItemForm.description" "placeholder=${i18Tooltip}"/>
    <@spring.showErrors "<br>" "error"/>
    <br>
    <br>
    <label for="price"><@spring.message 'addItem.form.label.enterPrice'/></label>
    <#assign i18Tooltip><@spring.message code="addItem.form.placeholder.Price"/></#assign>
    <@spring.formInput "addItemForm.price" "placeholder=${i18Tooltip}"/>
    <@spring.showErrors "<br>" "error"/>
    <br>
    <br>
    <input type="submit" value="Add item">
</form>
</body>
</html>